/* filepath: /scm-folio-interfaz/public/main.css */

main p {
  margin-left: 10px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

main {
  flex: 1;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

header {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.logo-header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo-img {
  width: 48px;
  height: auto;
  background: none;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  color: #333;
  font-family: Arial, sans-serif;
}

footer {
  background-color: #222;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.input-busqueda {
  border: 2px solid #007bff;
  padding: 8px;
  width: 300px;
  border-radius: 10px;
  margin-left: 10px;
}

.mensaje {
  margin-top: 15px;
  font-weight: bold;
  font-size: 16px;
  margin-left: 10px;
}