/* filepath: /scm-folio-interfaz/public/assets/css/style.css */

main p {
  margin-left: 10px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

main {
  flex: 1;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

header {
  background-color: #22313f;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.logo-header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo-img {
  width: 48px;
  height: auto;
  background: none;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

footer {
  background-color: #222;
  color: #fff;
  padding: 10px;
  text-align: center;
}


.mensaje {
  margin-top: 15px;
  font-weight: bold;
  font-size: 16px;
  margin-left: 10px;
}

.header-menus {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 20px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: auto;
}

.menu-utilidadesSecundarias,
.menu-utilidadesPrincipales,
.menu-documentacion {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.boton-menu {
  background-color: #fff;
  color: #34495e;
  border: none;
  padding: 10px 50px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;;
}

.header-title {
  font-size: 20px;
  font-weight: bold;
}

.input-busqueda {
  font-size: 15px;
  border: 2px solid #8dc6ff;
  padding: 8px;
  width: 300px;
  border-radius: 10px;
  margin-left: 10px;
}

.busqueda-notas {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}


.zona-notas {
  width: 100%;
  min-width: 350px;
  max-width: 1200px;
  font-size: 15px;
  margin-left: 10px;
  margin-top: auto;
}

div#notas {
  height: 500px;
  font-size: 15px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #8dc6ff;
  background-color: #ffffff;
  overflow: auto;
  word-wrap: break-word;
  white-space: pre-wrap;
}

#notas.placeholder {
  color: #aaa;
  font-style: italic;
  text-align: left;
}